@model IEnumerable<LMS_GL.Models.Cart>

@{
    ViewData["Title"] = "Index";
}


             <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Carts</h6>
                <h1 class="mb-5">Your Carts</h1>
                
            </div>


        <div class="row">
@foreach (var item in Model) {
    <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="course-item bg-light">
                        <div class="position-relative overflow-hidden">
                            <img class="img-fluid img-thumbnail" src="@item.ImagePath" style="width: 400px; height: 300px;" alt="">
                        </div>
                       
                            <h4>Course: @item.Coursename</h4>
                            <h5 class="mb-4">Price: @item.Price</h5>
                            <h5 class="mb-4">Desc: @item.Description</h5>
                            <h5 class="mb-4">Duration: @item.duration</h5>
                           
               

                <div class="btn-group">
                <a asp-action="createOrder" class="btn btn-primary" asp-route-id="@item.CourseId"><i class="bi bi-bag"></i></a> 
             
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.id"><i class="bi bi-trash3"></i></a>
                </div>
                <div class="btn-group">
                    <a class="btn btn-info" asp-controller="Feedbacks" asp-action="Index">feedback</a>
                </div>
            </div>
            </div>
}
</div>
@*<div class="text-end">
<input />
<button>Buy Now</button>
</div>
*@





         
           
                           