@model LMS_GL.Models.Courses

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*
<h1>Details</h1>

<div>
    <h4>Courses</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.category.CategId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Coursename)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Coursename)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImagePath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.duration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.duration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MentorName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MentorName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CourseId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>*@




<h2 class="text-info">Detailed Product</h2>
<form asp-action="" method="post" enctype="multipart/form-data">
    <div class="p-4 rounded border row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="CategId"/>
        <div class="col-1"></div>
        <div class="col-7">
            <div class="form-group row mb-2">
            <div class="col-3">
                <label asp-for="category" ></label>
            </div>
            <div class="col-5">
                <input asp-for="category.CategoryName" readonly="readonly"  class="form-control"/>
            </div>
            <span asp-validation-for="category" class="text-danger"></span>
        </div>
        <div class="form-group row mb-2">
            <div class="col-3">
                <label asp-for="Coursename"></label>
            </div>
            <div class="col-5">
                <input asp-for="Coursename" readonly="readonly" class="form-control"/>
            </div>
            <span asp-validation-for="Coursename" class="text-danger"></span>
        </div>

        <div class="form-group row mb-2">
            <div class="col-3">
                <label asp-for="Price"></label>
            </div>
            <div class="col-5">
                <input asp-for="Price" readonly="readonly" class="form-control"/>
            </div>
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="form-group row mb-2">
            <div class="col-3">
                <label asp-for="Description"></label>
            </div>
            <div class="col-5">
                @*<select asp-for="ProductTypeId" asp-items="ViewBag.productTypeId" class="form-control"></select>*@
                <input asp-for="Description" readonly="readonly" class="form-control"/>
            </div>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group row mb-2">
            <div class="col-3">
                <label asp-for="duration"></label>
            </div>
            <div class="col-5">
                @*<select asp-for="SpecialTagId" asp-items="ViewBag.TagId" class="form-control"></select>*@
                <input asp-for="duration" readonly="readonly" class="form-control"/>
            </div>
            <span asp-validation-for="duration" class="text-danger"></span>
        </div>
        <div class="form-group row mb-2">
            <div class="col-3">
                <label asp-for="MentorName"></label>
            </div>
            <div class="col-5">
                <input asp-for="MentorName" readonly="readonly" class="form-control" />
            </div>
            <span asp-validation-for="MentorName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <a asp-action="Edit" asp-route-id="@Model.CourseId" type="button" class="btn btn-primary">Edit</a>
            <a asp-action="Index" class="btn btn-primary">Back to list</a>
        </div>
        </div>
        
        @*<div class="col-1"></div>*@
        <div class="col-3">
            
            <img src="~/@Model.ImagePath" width="100%" style="border-radius:5px; border:1px solid #efefef"/>
            
        </div>
        <div class="col-1"></div>
    </div>
    
</form>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}