@model IEnumerable<LMS_GL.Models.Courses>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<div class="row">
    <div class="col-6">
        <h2 class="text-info"> Course List</h2>
    </div>
    
</div>
<div class="text-end">
                <a class="btn btn-danger" asp-action="Create"><i class="bi bi-plus-circle"></i>&nbsp; Create New</a>
                </div>
<div>
    <table class="table table-striped border" id="myTable">
        <thead>
            <tr class="table-info">
            <th> @Html.DisplayNameFor(c=>c.Coursename)</th>
            <th> @Html.DisplayNameFor(c=>c.category)</th>
            <th> @Html.DisplayNameFor(c=>c.CourseImage)</th>
            <th width="25%"> @Html.DisplayNameFor(c=>c.Description)</th>
            <th> @Html.DisplayNameFor(c=>c.MentorName)</th>
            <th> @Html.DisplayNameFor(c=>c.duration)</th>
            <th> @Html.DisplayNameFor(c=>c.Price)</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
           @* @foreach(var item in Model){
                <tr>
                    <td> @item.Coursename</td>
                    <td> @item.category.CategoryName</td>
                    
                    <td> @item.Description</td>
                    <td> @item.MentorName</td>
                    <td> @item.duration</td>
                    <td> @item.Price</td>

                    <td style="width:150px">
                        <div class="btn-group">
                            <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.CourseId"><i class="bi bi-pencil-square"></i></a>
                            <a asp-action="Details" class="btn btn-success"  asp-route-id="@item.CourseId"><i class="bi bi-ticket-detailed"></i></a>
                            <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.CourseId"><i class="bi bi-trash3"></i></a>
                            <a asp-action="Add_to_cart" class="btn btn-warning" asp-controller="Carts" asp-route-id="@item.CourseId" asp-route-stuid="1"><i class="bi bi-cart-check"></i></a>
                        </div>
                    </td>
                </tr>
            }*@
  @*      </tbody>
    </table>
</div>*@

    <!-- Courses Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Courses</h6>
                <h1 class="mb-5">Popular Courses</h1>
                
            </div>
            @foreach(var item in Model){
            <div class="row g-4">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="course-item bg-light">
                        <div class="position-relative overflow-hidden">
                            <img class="img-fluid" src="@item.ImagePath" alt="">
                        </div>
                        <div class="text-center p-4 pb-0">
                            <h3 class="mb-0"><i class="bi bi-currency-rupee"></i> @item.Price</h3>
                            <div class="mb-3">
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                            </div>
                            <h4>Course: @item.Coursename</h4>
                            <h4>Category: @item.category.CategoryName</h4>
                            <h5 class="mb-4">Desc: @item.Description</h5>
                        </div>
                        <div class="d-flex border-top">
                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-user-tie text-primary me-2"></i>@item.MentorName</small>
                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-clock text-primary me-2"></i>@item.duration</small>
                            <a asp-action="Add_to_cart" class="btn btn-warning" asp-controller="Carts" asp-route-id="@item.CourseId" asp-route-stuid="1"><i class="bi bi-cart-check"></i></a>
                            <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.CourseId"><i class="bi bi-trash3"></i></a>
                        </div> 
                    </div>
                </div>
            </div>
            <h4></h4>
            }
        </div>
    </div>
    <!-- Courses End -->



@section Scripts{
    <script type="text/javascript">
        $(document).ready(function() {
        $('#myTable').DataTable( );
        } );
    </script>
}